*~
*.d
*.o
*.so
*.map
ascii
conf/jansson
dynamic-linking/daemon
hex2str
list-demo
mroute-show
tailq-demo
timers
/conf/confuse
/mcjoin/mcjoin
/mcjoin*.changes
/mcjoin*.deb
/checktty
/bogomips
/spinner
/demo
